<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequelize</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header}}
    <div class="content">
        <aside>
            <nav id="navbar">
                <ul>
                    <li><a href="/"><span>Usuários</span></a></li>
                    <li><a href="/users/create"><span>Cadastrar</span></a></li>
                </ul>
            </nav>
        </aside>
        <main>
            {{{body}}}
        </main>
    </div>
    {{> footer}}
</body>

</html>