:root {
    --header-height: 70px;
    --footer-height: 30px;
    --main-background-gradient: linear-gradient(45deg, rgba(28,9,16,1) 35%, rgba(56,17,31,1) 100%);
    --header-footer-color: #541a2f;
    /* --header-footer-color: #38111f; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-color);
    width: 100%;
    height: var(--header-height);
}

main {
    border-radius: 5px;
    background: var(--main-background-gradient);
    padding: 20px;
    margin: 20px;
    width: calc(100% - (20px * 2));
    min-height: calc(100vh - var(--footer-height) - var(--header-height) - (20px * 2));
    height: 100%;
}

main > h1 {
    padding: 20px;
}

main > hr {
    border-color: #541a2f;
    margin: 20px 0 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-color);
    width: 100%;
    height: var(--footer-height);
}

.product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff11;
    width: 500px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px
}

.product-list:hover {
    background-color: #ffffff28;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff11;
    border-radius: 5px;
    margin-top: 10px;
    width: 100px;
    padding: 10px 0;
    border: #555 solid 1px;
}

.back-btn > a {
    text-decoration: none;
    color: #fff;
}

.back-btn:hover {
    background-color: #ffffff28;
}

.product-detail {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.form-control input {
    padding: 5px;
}