<div class="product-list">
    <div>
        <div>
            <p>{{this.id}} - {{this.description}}</p>
        </div>
    </div>
    <div>
        <a href="/productDetail/{{this.id}}">Abrir Produto</a>
    </div>
</div>